@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --main-color : #3B3B98;
    --light-color: #fff;
    --active-color: #F97F51;
    --gray-color:#2c3e50;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color:var(--light-color);
}
body{
    width:100%;
    min-height:100vh;
    font-family: 'Poppins';
    position:relative;

}

/*top nav*/
.main-nav{
    width:100%;
    height:4rem;
    padding: 0 20px;

    background-color: var(--main-color) ;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top:0;
    left:0;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
}
.nav-links a{
    font-size:1.2rem;
}
.nav-links a:hover{
    color: var(--active-color)
}

/* about section */

section{
    width:100%;
    height:calc(100vh - 4rem);
    display:flex;
    align-items: center;
    background-color: var(--gray-color);
    position:relative;
}
.movement-cards{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;

}
.movement-cards span{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    transition:all 0.5s ;
}
.movement-cards:hover span{
    opacity:0;
    font:0px;
    z-index:0;

}

.cards{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    position: relative;
    filter:blur(20px);
    transition: all 0.7s;

}
#c1{
    background: url("./img/guitars.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
#c2{
    background: url("./img/matrix.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.cards:hover{
    width:70%;
    filter:blur();
}
